#package structure
.vscode
data/*
logs/*
!logs/.gitkeep
!data/.gitkeep
results/models/*
!results/models/.gitkeep
!results/figures/SHO_propagator_samples.png
__pycache__
sketchbooks/*

#virtual environments
venv/*

#package metadata
*.egg-info/

#mlflow
mlflow.db
mlruns/*
mlruns